* {
  box-sizing: border-box;
}
body {
  margin: 0;
  font-family: "Spartan", sans-serif;
  font-size: 12px;
}
h1 {
  font-size: 40px;
  font-weight: 600;
  letter-spacing: -2px;
  margin: 0 0 23px 0;
}
h2 {
  font-size: 12px;
  text-transform: uppercase;
  letter-spacing: 5px;
  font-weight: 700;
}
a {
  color: #fff;
}
header {
  padding-top: 64px;
  position: absolute;
  top: 0;
  width: 100%;
  z-index: 100;
}
header .wrap {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  max-width: 100%;
}
.wrap {
  width: 1315px;
  margin: 0 auto;
  max-width: 100%;
}
nav ul {
  margin: 0;
  list-style: none;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}
nav a {
  margin: 0 10px 5px 10px;
  text-transform: lowercase;
  text-decoration: none;
  color: #fff;
  position: relative;
}
nav a:visited,
nav a:active {
  color: #fff;
}
nav li a::after {
  content: "";
  position: absolute;
  height: 2px;
  background: #fff;
  left: 50%;
  bottom: -6px;
  transition: width linear 0.2s;
  width: 0;
  transform: translate(-50%, 0);
}
nav li a:hover::after {
  width: 70%;
}
#slider {
  position: relative;
  overflow: hidden;
  display: grid;
}
#slider #caption {
  padding: 120px 96px;
  display: flex;
  align-items: center;
  position: relative;
  transition: opacity 0.4s linear;
  opacity: 0;
  flex-wrap: wrap;
}
.caption p {
  color: #a0a0a0;
  font-size: 12px;
  line-height: 1.6;
  font-weight: 500;
  margin-top: 0;
}
.slide #sliderImg {
  transition: opacity linear 0.8s;
}
.slide.active #sliderImg,
.slide.active #caption {
  pointer-events: all;
  opacity: 1;
  transition: opacity linear 0.8s;
}
#prevSlide,
#nextSlide {
  background: #000;
  width: 80px;
  height: 80px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}
#prevSlide:hover,
#nextSlide:hover {
  background: #444444;
}
#controlsContainer {
  z-index: 100;
  grid-column: 1/-1;
  grid-row: 1/-1;
  align-self: end;
  transform: translateX(100%);
}
#controls {
  display: flex;
  grid-column-end: -1;
}
#about {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 47px 35px;
}
#about h2 {
  margin-bottom: 10px;
  margin-top: 25px;
}
#about p {
  color: #a0a0a0;
  line-height: 1.7;
  font-weight: 500;
  margin-top: 0;
}
#bottomHalf {
  display: grid;
  grid-template-columns: 31fr 38fr 31fr;
}
.shopNow {
  color: #000;
  text-decoration: none;
  text-transform: uppercase;
  letter-spacing: 10px;
  margin-top: 30px;
  display: flex;
  flex-wrap: wrap;
}
.shopNow:hover {
  color: #a0a0a0;
}
.shopNow::after {
  content: url("./images/icon-arrow.svg");
  margin-left: 25px;
}
.shopNow:hover::after {
  content: url("./images/icon-arrow-hover.svg");
}
#slider.test {
  display: grid;
  grid-template-columns: 58fr 42fr;
}
#imageContainer,
#captionContainer {
  display: grid;
}
#imageContainer {
  grid-column: 1/-1;
  grid-row: 1/-1;
  width: 100%;
}
#imageContainer img {
  opacity: 0;
  max-width: 100%;
  grid-column: 1/-1;
  grid-row: 1/-1;
  width: 100%;
  object-fit: contain;
  object-fit: cover;
  height: 100%;
  object-position: center;
  pointer-events: none;
  transition: opacity 0.8s linear;
}
#captionContainer .caption {
  grid-column: 1/-1;
  grid-row: 1/-1;
  opacity: 0;
  pointer-events: none;
  transition: opacity 0.6s step-end;
  transform: translateY(-15px);
}
#imageContainer .active {
  transition: opacity 0.8s linear;
}
#imageContainer .active,
#captionContainer .active {
  opacity: 1;
  pointer-events: all;
}
#imageHalf {
  display: grid;
  justify-items: end;
}
#captionContainer {
  place-content: center;
  padding: 120px 96px;
}
.openMenu {
  display: none;
  cursor: pointer;
}
#bottomHalf img {
  width: 100%;
  object-fit: cover;
}
.attribution {
  padding: 15px;
}
@media only screen and (max-width: 1315px) {
  .wrap {
    width: 90%;
  }
}
@media only screen and (max-width: 800px) {
  .wrap {
    width: 1000%;
  }
  #slider {
    width: 100%;
  }
  #slider .slide {
    grid-template-columns: 1fr;
  }
  #slider #caption {
    padding: 0px;
  }
  #controlsContainer {
    transform: translateX(0%);
  }
  #slider.test {
    grid-template-columns: 1fr;
  }
  #bottomHalf {
    grid-template-columns: 1fr;
  }
  #bottomHalf img {
    min-width: 100%;
  }
  header {
    padding: 0;
    height: 110px;
    display: flex;
    align-items: center;
    transition: all linear 0.2s;
  }
  header .wrap {
    padding: 0 24px;
    max-width: 100%;
  }
  header.open {
    background: #fff;
  }
  nav {
    display: flex;
    width: 100%;
  }
  nav ul {
    display: none;
    margin-left: 0;
    order: 1;
    width: 100%;
    justify-content: flex-end;
  }
  header.open .logo {
    pointer-events: none;
    visibility: hidden;
  }
  .openMenu {
    display: block;
  }
  header.open nav ul {
    display: flex;
  }
  nav a,
  nav a:visited,
  nav a:active {
    color: #000;
  }
  .logo {
    position: absolute;
    left: 50%;
    margin-left: -30.5px;
  }
  #captionContainer {
    padding: 70px 32px;
  }
  h1 {
    font-size: 28px;
  }
}
